<div class="stage-container">
  <ng-container [ngSwitch]="currentStage">
    <app-primary-details
      *ngSwitchCase="1"
      [data]="primaryData"
      (next)="handleNext($event)">
    </app-primary-details>

    <app-documents
      *ngSwitchCase="2"
      [data]="documentsData"
      (next)="handleNext($event)"
      (back)="handleBack()">
    </app-documents>

    <app-review-submit
      *ngSwitchCase="3"
      [primaryData]="primaryData"
      [documentsData]="documentsData"
      (back)="handleBack()"
      (submitClaim)="handleSubmit()">
    </app-review-submit>
  </ng-container>
</div>
